#GameConfigTest的可执行文件
/src/test/GameConfigTest/test1
/src/test/GameConfigTest/test2

#所有的可执行文件(*.out)、中间文件(*.o)、库文件(*.so,*.a)
*.so
*.o
*.a
*.out

#所有doc的图片
/doc/*.png

#大部分资源
/res/shaders
/res/models
/res/audios
/res/images

#配置文件要跟踪
!/res/config.xml
